<div>
    <section >
    <form class="form-class" [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
        <h2>Add Category</h2>
        <input type="file" class="file-upload" formControlName="img" (change)="onFileSelected($event)">
        <img *ngIf="imagePreview" [src]="imagePreview" style="width: 250px;" alt="Selected Image">
      <mat-form-field appearance="outline">
        <input matInput 
        type="text" 
        placeholder="Name" 
        formControlName="name">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput 
        type="text" 
        placeholder="Description" 
        formControlName="description">
      </mat-form-field>
      
      <button type="submit" mat-raised-button color="primary" [disabled]="!categoryForm.valid">Submit</button>
      <a routerLink="/signup">or register now !</a>
    </form>
  </section>
</div>