.filter {
    width: 50%;
    align-items: left;
    margin-left: 25%;
    margin-top: 1%;
    margin-bottom: -1%;
  }
  
  .home-page {
    display: flex;
    height: 100vh; /* Make the container full height */
  }
  
  .cards-container {
    width: 75%; /* Take half the screen width */
    overflow-y: auto; /* Enable scrolling if cards overflow */
  }
  
  .row-class {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .category-card {
    width: 80%; /* Adjust card width */
    margin: 1% 0;
    background: linear-gradient(90deg, rgb(220, 225, 227), rgb(235, 248, 248));
    max-width: 700px;
  }
  
  .text-container {
    width: 50%; /* Take half the screen width */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .img-class{
    height: 150px;
    width: 200px;
    border-radius: 20% 20% 20% 20%;
  }
  .subtitle {
    width: 100%;
    margin-left: 10px;

  }
  
  