.product-name-container {
    text-align: center;
    margin-top: 2%;
}

.content-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 3%;
    margin-left: 20px;
}

.slider-container {
    width: 50%;
}

.product-desc-container {
    flex: 1;
    margin-right: 3%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
    height: 100%;
}


.product-desc-container p {
    margin-bottom: 10px;
}

.book-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
    margin-top: auto;
}

.book-button:hover {
    background-color: #0056b3;
}
.feedback-section {
    margin-top: 20px;
    margin-left: 20px;
    width: 70%;
}

.comment-input {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.comment-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.comment-input button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.comments-container {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px; 
}

.comment {
    margin-bottom: 20px;
}

.comment-content {
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 8px;
    position: relative;
}

.comment-content::before {
    content: '';
    position: absolute;
    top: 10px;
    left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #f8f9fa transparent transparent;
}

.comment-actions {
    margin-top: 10px;
}

.comment-actions button {
    margin-right: 10px;
    background-color: transparent;
    border: none;
    color: #007bff;
    cursor: pointer;
}

.reply-input {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.reply-input input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.reply-input button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.reply {
    margin-top: 10px;
    padding-left: 20px;
}

.reply p {
    margin: 0;
    background-color: #e9ecef;
    padding: 5px 10px;
    border-radius: 4px;
}

.comment-content, .reply-content {
    word-wrap: break-word;
    word-break: break-word;
  }

.reply-actions {
    margin-top: 5px;
}

.reply-actions button {
    background-color: transparent;
    border: none;
    color: #007bff;
    cursor: pointer;
}
