
.form-class {
    display: flex;
    flex-direction: column;
    align-items: center ;
    margin-top: 1%;
    gap: 30px;
  }
  
  button.example-custom-date-class {
    background: orange;
    border-radius: 100%;
  }
  .mat-form-field {
    width: 400px !important;
    margin-bottom: 10px;
  }
  .file-upload{
    align-items: left;
  }