<div>
    <section >
    <form class="form-class" [formGroup]="productForm" (ngSubmit)="updateProduct()">
        <h2>Add Product</h2>
        <input type="file" class="file-upload" formControlName="img" (change)="onFileSelected($event)">
        <img *ngIf="imagePreview" [src]="imagePreview" class="selected-image" alt="Selected Image">
        <img *ngIf="!imgChanged" [src]="existingImage" class="selected-image" alt="Selected Image">
      <mat-form-field appearance="outline">
        <input matInput 
        type="text" 
        placeholder="Name" 
        formControlName="name">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput 
        type="text" 
        placeholder="Price" 
        formControlName="price">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput 
        type="text" 
        placeholder="Description" 
        formControlName="description">
      </mat-form-field>
      
      <button type="submit" mat-raised-button color="primary" [disabled]="!productForm.valid">Submit</button>
      <a routerLink="/signup">or register now !</a>
    </form>
  </section>
</div>