<div class="fading-line"></div>
<div class="about-class">
  <div class="about-container">
    <img src="https://www.shutterstock.com/image-photo/restaurant-top-view-background-website-260nw-1789991981.jpg" alt="Restaurant Management App" class="about-image">
    <div class="about-description">
      <h2>About Us</h2>
      <p>
        This application helps streamline restaurant operations, from managing reservations and orders to analyzing sales data and customer feedback. It’s designed to enhance efficiency, improve customer satisfaction, and boost your restaurant's overall performance.
      </p>
    </div>
  </div>
</div>
