<div>
  <mat-form-field class="filter">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. restaurant gammart .." #input>
  </mat-form-field>
  <div *ngIf="!noProductAvailable()">
    <mat-card class="products-card" *ngFor="let product of products">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="product-title">{{ product.name }} </mat-card-title>
          <span class="price-class">price: {{product.price}} $</span>
          <mat-card-subtitle class="subtitle">{{ product.description }}</mat-card-subtitle>
          
        </mat-card-title-group>
        
        <mat-card-subtitle>
          <img [src]="product.returnedImg" style="height: 150px; width: 200px; border-radius: 20%;">
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-divider style="margin-bottom: 2%;"></mat-divider>
        <div class="rating-button-container">
          <div *ngIf="product.averageRating !== undefined">
            Customers Rating: <app-display-stars [rating]="product.averageRating"></app-display-stars>
          </div>
          <div class="button-container">
            <button mat-button (click)="onShowDetails(product.id)" style="background: linear-gradient(90deg, rgb(159, 218, 241), rgb(235, 248, 248));">Show Details</button>
            <button mat-button (click)="openDialog(product.id)" style="background: linear-gradient(-90deg, rgb(249, 129, 129), rgb(235, 248, 248));">Rate this Restaurant</button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngIf="noProductAvailable()" class="no-products-class">
    <h3>We still don't have any Restaurant in this category 🥲</h3>
  </div>
</div>
