<div>
    <mat-form-field class="category-card">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. restaurant gammart .." #input>
      </mat-form-field>
    <mat-card class="category-card" *ngFor="let category of categories">
        <mat-card-header>
            <mat-card-subtitle> <img [src]="category.returnedImg" style="height: 150px; width: 200px;"></mat-card-subtitle>
          <mat-card-title>{{ category.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{ category.description }}</p>
          <mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-actions style="margin-left: 60%; gap: 20px;">
          <button mat-button (click)="goToCustomerViewProducts(category.id)">View Products</button>
        </mat-card-actions>
       
      </mat-card>
    </div>